extends layout
block content
    link#bootstrap-css(href="/stylesheets/profile.css" rel="stylesheet")

    .limiter
        .container.emp-profile
            .container(style="width:75%")
                center
                    h2= evento.titulo
                    if(evento.file)
                        .aligncenter
                            img(src=evento.file alt="img" width="300" height="300")   
                    if(!evento.file)
                        a(href=evento.file download=evento.file) Download File

                h4 Type of Event: 
                    a.h4(href="/events/tipo/"+evento.tipo)=evento.tipo              
                h4 Local: 
                    a.h4=evento.local
                h4 Date: 
                    a.h4=evento.data      
                h4 Between 
                    a.h4=evento.hinicio
                    |h and 
                    a.h4=evento.hfim
                    |h    
                h4 Description: 
                    a.h4=evento.description
                
                h4 Who's participating? 
                for user in evento.users
                    a.h4(href="/users/"+user)=user

                form(method="POST" action="/events/participar/" + evento._id)
                    input.btn.btn-secondary(type='submit' value="Join this event")             

