extends layout
block content
    link#bootstrap-css(href="/stylesheets/profile.css" rel="stylesheet")

    .limiter
        .container.emp-profile
            .container(style="width:75%")
                center
                    h2
                        b= evento.titulo
                    br
                    if(evento.file!="")
                        if(isimg!=null)
                            .aligncenter
                                img(src=isimg[0] alt="img")   
                        if(isimg==null)
                            a(href=evento.file download=evento.file) Download File
                br
                h3 
                    b Type of event: 
                    a.h4(href="/events/tipo/"+evento.tipo)=evento.tipo              
                br
                h3
                    b Local: 
                    a.h4=evento.local
                br
                h3
                    b Date: 
                    a.h4=evento.data
                br
                h3
                    b Between: 
                        a.h4=evento.hinicio
                            | h and 
                        a.h4=evento.hfim
                            |h     
                br
                h3
                    b Description: 
                        a.h4=evento.description

                br
                h3 
                    b Who's participating? 
                for user in evento.users
                    p
                        a.h4(href="/users/"+user)=user
                        if(usera == user && evento.file)
                            .aligncenter
                                a(href=evento.file download=evento.file) Download File

                form(method="POST" action="/events/participar/" + evento._id)
                    input.btn.btn-secondary(type='submit' value="Participate")  